<html ng-app="booklyApp">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

  <link href="main.css" rel="stylesheet" type="text/css" />
  <script src ="data.js"></script>
  <script src ="books_controller.js"></script>
</head>

<body>
   <div ng-controller="BooksController" class="container">
        <div ng-class="search">
        Search: <input type="text" ng-model="search" />
        </div>
        Order by: <select ng-model="predicate">
          <option value="author">Author</option>
          <option value="title">Title</option>
          <option value="price">Price</option>
        </select>
        <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 book" ng-repeat="book in books | filter: search | orderBy:predicate:reverse">
          <div class="col-xs-offset-1 book-title">
            {{book.title}}
          </div>
          <div class="col-xs-offset-1 book-author">
            By: {{book.author}}
          </div>
          <div>
            <img class="book-image" ng-src="{{book.img}}"/>
          </div>

          <div class="cart-button">
            <span class="price">{{book.price | currency}}
              <button class="btn btn-success" ng-click="addToCart(book)" > Add </button>
              </span>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 cart">
          <h3>your cart has {{cart.length}} item{{plural()}}. </h3>
          <table class="carttable">
          <tr>
            <th width='40%'>Title</th><th width='40%'>Author</th><th width='20%'>Price</th>
          </tr>
          <tr ng-repeat="item in cart">
            <td colspan=1>{{item.title}}</td>
            <td colspan=1>{{item.author}}</td>
            <td colspan=1>{{item.price}}</td>
          </tr>
          <tr class="cart-total">
            <td colspan=2 width='80%'>Total</td><td width='20%'>{{total}}</td>
          </tr>
          </table>
          <div class="btn-group cart-button">
            <button class="btn" ng-click="clearcart()" > Clear Cart </button>
          </div>
          <div class="btn-group cart-button">
            <button class="btn"onclick="alert('Dunno how to check out ...');">Check Out</button>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
